.glyphicon
{
	font-size: 150%;
}
nav
{
	z-index: 10;
}
.column
{
	background-color: white;
	padding: 10px;
	border: 1px solid #aa9f9f;
	border-radius: 10px;
	box-shadow: 2px 1px 2px #817b7b;
	
}
img
{
	max-width: 100%;
    max-height: 100%;
}
body
{
	background-color: rgba(0,0,0,0.05) !important;
}
.name
{
	font-size: 180%;
	color: #3e121a;
}
#post_btn
{
	width: 20%;
	background-color: #A7C3E3;
	padding: 0.5% 0;
	font-size: 15;
	border: 1px solid #ced4da;
	border-radius: 12px;
}

.space
{

	min-height:50px;
}
